    
h2 {
    color: rgb(34, 20, 232);
    font-family: 'Courier New', Courier, monospace
}  
#title{
    color: rgb(34, 20, 232);
    font-family: 'Courier New', Courier, monospace;
    float: right;
    margin-right: 10px;
    width: 30%
}  

h1 {
color:  rgb(234, 30, 227);
font-family: "Lucida Handwriting", cursive;
}
#simple{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    }

#paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    float: right;
    margin-right: 10px;
}
body {
    background-color: rgb(159, 223, 243);
    
}
#body-aboutme{
    background-image: url("mybackground.jpg");
}
    
#nav-table {width: 1024px;}
#nav-bar {width: 342px; text-align:center;}
#hobbies {
    font-family: Arial, Helvetica, sans-serif; color: rgb(230, 48, 223)
}
#hobbies1{
    float: left;

}


   

#taisa{
    width: 150px;
    float: right;
    margin-right: 5%;
    margin-top:15%;
}
#hiking2{
    width:200px;
    float: left;
    margin-bottom: 10px;
    margin-left:10px;
}
#travel2{
    width: 150px;
    float: right;
    margin-right: 5%;
    margin-top:5%;

}
#travel3{
    width: 150px;
    float:right;
    margin-right:10%;
    margin-top:20%;
}
