    
h2 {
    color: rgb(34, 20, 232);
    font-family: 'Courier New', Courier, monospace
}  
h1 {
color:  rgb(234, 30, 227);
font-family: "Lucida Handwriting", cursive;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
body {
    background-color: rgb(159, 223, 243);
    
}
#body-aboutme{
    background-image: url("mybackground.jpg");
}
    
#nav-table {width: 1024px;}
#nav-bar {width: 342px; text-align:center;}
#hobbies {font-family: Arial, Helvetica, sans-serif; color: rgb(230, 48, 223)}


#travel{
    width:100px;
    text-align:center;
    float: right

}
#taisa{
    width: 150px;
    float: right;
    margin-right: 5%;
    margin-top:15%;
}
#hiking2{
    width:150px;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}
#travel2{
    width: 150px;
    float: right;
    margin-right: 5%;
    margin-top:5%;

}
#travel3{
    width: 150px;
    float:right;
    margin-right: -6%;
    margin-top:20%;
}
